/* Classes for color layout */
[class*='bg-'] {
  color: var(--fg, var(--clr-neutral-900));
  background: var(--bg, var(--clr-primary-400));
}

.bg-light {
  --clr-accent: var(--accent, var(--clr-accent-700));
  
  --fg: var(--clr-primary-700);
  --bg: var(--clr-primary-200);
}

.bg-dark {
  --clr-accent: var(--accent, var(--clr-accent-200));

  --fg: var(--clr-primary-200);
  --bg: var(--clr-primary-700);
}

.bg-accent {
  --clr-accent: var(--clr-primary-400);

  --fg: var(--clr-neutral-100);
  --bg: var(--clr-accent-400);
}

// .bg-primary-300 {
//   --bg: var(--clr-primary-300);
// }

// .bg-primary-400 {
//   --bg: var(--clr-primary-400);
// }